.menu {
  background: rgba($primary-color, 1);
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 60px;
  height: 265px;
  left: 40px;
  top: 225px;
  border: solid;
  border-color: $thirdary-color;
  border-radius: 10px;
  color: $thirdary-color;

  a {
    padding: 0.7rem 0;
    color: $thirdary-color;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
      i {
        @include hLink();
        @include easeOut();
      }
    }
    i {
      transform: scale(0.8);
    }
  }
}
