.menu {
  background: rgba($primary-color, 1);
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 275px;
  left: 40px;
  top: 225px;
  border: solid;
  border-color: $thirdary-color;
  border-radius: 10px;
  color: $thirdary-color;
  box-sizing: content-box;
  z-index: 5;

  a {
    float: left;
    flex-flow: column inline;
    width: 160px;
    color: $thirdary-color;
    text-decoration: none;

    i {
      width: 30%;
      height: 100%;
      float: left;
      text-align: left;
      padding: 1rem;
    }
    span {
      width: 70%;
      height: 100%;
      float: left;
      text-align: left;
      z-index: -2;

      visibility: hidden;
    }

    &:hover {
      color: $secondary-color;
      i {
        @include hLink();
        @include easeOut();
        // border: solid 1px;
        // border-radius: 5px;
      }
      span {
        padding: 1rem;
        background: $primary-color;
        background-attachment: fixed;
        color: $thirdary-color;
        visibility: visible;
        z-index: 5;
        border: solid 2px;
        border-radius: 5px;
        @include easeOut();
      }
    }
    i {
      transform: scale(0.8);
    }
  }
}
