.menu {
  background: rgba($primary-color, 1);
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 265px;
  left: 40px;
  top: 225px;
  border: solid;
  border-color: $thirdary-color;
  border-radius: 10px;
  color: $thirdary-color;
  box-sizing: content-box;
  z-index: 5;

  div.menuBtn {
    float: left;
    flex-flow: column inline;
    width: 160px;

    span {
      width: 68%;
      height: 100%;
      float: left;
      text-align: left;
      display: none;
    }

    a {
      width: 32%;
      height: 100%;
      float: left;
      text-align: left;
      color: $thirdary-color;
      text-decoration: none;

      i {
        padding: 1rem;
        transform: scale(0.8);
      }

      &:hover {
        color: $secondary-color;
        i {
          @include hLink();
          @include easeOut();
        }
      }

      &:hover + span {
        display: inline;
        padding: 1rem;
        background: $primary-color;
        z-index: 999;
        border: solid 2px;
        border-radius: 5px;
        @include easeOut();
      }
    }
  }
}
