.showcase {
  .resume {
    .areaHeader {
      font-size: 30px;
    }
    /* --- Skills --- */
    .skills {
      flex-flow: column;
      &-technical {
        width: 100%;
        float: left;
        text-align: left;

        ul {
          margin-bottom: 2rem;
          padding-left: 2%;
          padding-right: 7%;
          list-style: none;
          float: left;
          text-align: left;
        }
      }
      &-career {
        width: 100%;
        float: left;
        text-align: left;

        ul {
          margin-bottom: 2rem;
          padding-left: 2%;
          list-style: none;
          float: left;
          text-align: left;
        }
      }
    }

    /* --- education ---*/
    .education {
      margin-top: 0;
      p {
        display: inline;
        color: grey;
      }
      ul {
        padding-left: 2%;
        list-style: none;
      }
    }

    /* --- projects --- */
    .areaprojects {
      margin-top: 2rem;
      h2 {
        font-size: 20px;
      }
      p {
        display: inline;
        color: grey;
      }
      ul {
        list-style: box;
        padding-left: 5%;
        margin-bottom: 2%;
      }
    }

    .experience {
      margin-top: 2rem;

      h2 {
        font-size: 20px;
      }
      p {
        display: inline;
        color: grey;
      }
      ul {
        list-style: box;
        padding-left: 5%;
        margin-bottom: 2%;
      }
    }
  }
}
