@import "showcaseResume";
@import "showcaseContactMe";

.showcase {
  background: rgba($primary-color, 1);
  border: solid;
  border-color: $thirdary-color;
  border-radius: 10px;
  width: 80%;

  margin: 7.5vh auto;
  padding: 2rem;

  overflow: hidden;

  .home {
    @include showcaseToggle;
  }

  .projects {
    @include showcaseToggle;
  }

  .branch {
    @include showcaseToggle;
  }

  .resume {
    @include showcaseToggle;
  }

  .contactMe {
    @include showcaseToggle;
  }
}
