@import "showcaseResume";
@import "showcaseContactMe";

.showcase {
  background: rgba($primary-color, 1);
  border: solid;
  border-color: $thirdary-color;
  border-radius: 25px;
  width: 80%;

  margin-left: 150px;
  margin-right: 50px;
  margin-top: 7.5vh;
  padding: 2rem;

  overflow: hidden;

  .home {
    @include showcaseToggle;
  }

  .projects {
    @include showcaseToggle;
  }

  .branch {
    @include showcaseToggle;
  }

  .resume {
    @include showcaseToggle;
  }

  .contactme {
    @include showcaseToggle;
  }
}
