.showcase {
  .contactMe {
    .contact {
      display: flex;
      flex-flow: column inline;
      .areaHeader {
        font-size: 25px;
        margin-bottom: 2vh;
      }
      &-Info {
        width: 50%;

        a {
          display: flex;
          display: column wrap;
          padding: 4%;

          text-decoration: none;
          color: $thirdary-color;
          i {
            padding-right: 5%;
            transform: scale(0.8);
          }
          &:hover {
            color: $secondary-color;
            @include easeOut();
          }
        }
        .phone_number,
        .email {
          width: 70%;
          border-bottom: solid 1px;
          border-color: $secondary-color;
        }
        .website {
          width: 70%;
        }
      }

      &-Form {
        width: 50%;

        label {
          font-size: 16px;
          font-weight: normal;
        }
        .field,
        .message,
        .submit {
          padding: 1vh;
          margin-bottom: 2vh;
          width: 100%;
          border-radius: 5px;
          border: 1px solid $thirdary-color;
        }
        .message {
          resize: vertical;
          overflow: hidden;
        }
        .successMessage {
          color: green;
          visibility: hidden;
        }
        .submit {
          font-size: 16px;
          border: none;
          background: $secondary-color;
          color: $primary-color;
          &:hover {
            background: lighten($secondary-color, 10%);
            @include easeOut();
          }
          &:active {
            background: darken($secondary-color, 20%);
          }
        }
      }
    }
  }
}
