@import "config";
@import "menu";
@import "showcase";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 3000px;
  @include background();
  background: $primary-color;
  font-family: Roboto Mono;
  line-height: 1.5;
  font-size: 1em;
}

.header {
  color: $thirdary-color;
  margin-left: 5vh;
  margin-top: 1vh;

  .headerName {
    font-size: 5rem;
    font-weight: 500;

    .headerLastName {
      color: $secondary-color;
    }
  }

  .icons {
    position: relative;
    margin-top: 0;
    cursor: pointer;
    a {
      color: $thirdary-color;
      padding: 0.7rem;
      text-decoration: none;
      &:hover {
        color: $secondary-color;
        i {
          @include hLink();
          @include easeOut();
        }
      }
    }
  }
}
