@import "config";
@import "menu";
@import "showcase";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 3000px;
  @include background();
  background: $primary-color;
  font-family: Roboto Mono;
  line-height: 1.5;
  font-size: 1em;
}

.header {
  color: $thirdary-color;
  margin-left: 5vh;

  .headerName {
    font-size: 5rem;
    font-weight: 500;
    word-spacing: -1.5rem;
    color: $secondary-color;
  }
  .icons {
    position: relative;
    margin-top: 0;

    cursor: pointer;
    a {
      color: $thirdary-color;
      padding: 0.5rem;
      text-decoration: none;
      display: inline-flex;
      flex-flow: column wrap;

      span {
        width: 100%;
        visibility: hidden;
      }
      &:hover {
        color: $secondary-color;
        i {
          @include hLink();
          @include easeOut();
        }
        span {
          visibility: visible;
        }
      }
      i {
        transform: scale(0.8);
      }
    }
  }
}
